.wd-input-icons i {
    position: absolute;
}

.wd-icon-grey {
    padding: 10px;
    min-width: 40px;
}

.wd-icon-grey {
    padding: 10px;
    min-width: 40px;
    color: rgb(110, 118, 125);
}

.wd-search-box {
    border-radius: 18px;
    height: 35px;
    width: 100%;
    border-width: 1px;
}

.wd-input-field {
    padding-left: 30px;
    text-align: left;
}

.wd-title {
    color: rgb(110, 118, 125);
}

::placeholder {
    color: rgb(110, 118, 125);
}

.wd-float-left {
    float: left;
    padding-right: 5px;
}

.wd-text-bold {
    font-weight: bold;
}

.wd-image-style {
    height: 50px;
    width: 50px;
    float: left;
}

.wd-font-size {
    font-size: 15px;
}

.wd-font-size-summary-list {
    font-size: 8px;
}

.wd-duration {
    color: rgb(110, 118, 125);
}

.wd-side-column-font-size {
    font-size: 14px;
}

.wd-image-icon {
    height: 40px;
    width: 40px;
}

.wd-float-left-side-bar {
    float: left;
    padding-right: 3px;
}

.wd-float-left {
    float: left;
}

.wd-float-right {
    float: right;
}

.wd-bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 25px;
    font-weight: bold;
}

.wd-container {
    position: relative;
    text-align: center;
    color: white;
}

.wd-background-color {
    background-color: black;
}

.wd-font-color-white {
    color: white
}

.wd-icon-dark-mode {
    color: white;
}

.list-group-item-info.override-bs {
    background-color: black;
    color: rgb(211,211,211);
}

.list-group-item-info.override-bs3 {
    border: 0px;
    color: white;
    background-color: rgb(32,32,32);
}

.btn-primary.override-bs {
    background-color: rgb(0,191,255);
}

.btn-primary.override-bs2 {
    background-color: rgb(0, 191, 255);
    color: white;
    border: 0px;
}

.nav-link.override-bs {
    color: rgb(110, 118, 125);
}

.wd-search-box-dark-mode {
    border-radius: 18px;
    height: 35px;
    width: 100%;
    border-width: 0px;
}

.wd-icon-dark-model {
    padding: 10px;
    min-width: 40px;
}

.wd-search-twitter-text {
    color: rgb(110, 118, 125);
}

.wd-heart-icon {
    padding-top: 10px;
    color: red;
    padding-right: 8px;
}

.wd-settings-icon {
    color: white;
    stroke: blue;
    stroke-width: 30px;
}

.wd-border-color-dark-mode {
    border: 1px solid rgb(47, 51, 54);
}

.wd-image-border {
    border: 1px solid rgb(47, 51, 54);
}

.wd-hyperlink {
    color: white;
    text-decoration: none;
}

.wd-hyperlink-grey {
    color: rgb(110, 118, 125);
    text-decoration: none;
}

.wd-color-grey {
    color: rgb(110, 118, 125);
}

.wd-side-bar-footer {
    color: rgb(110, 118, 125);
}

.wd-float-right {
    float: right;
    padding-right: 5px;
}

.wd-footer-container {
    float: left;
    padding: 7px;
}

.wd-clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.active.override-active {
    color:red;
}

.nav-link.override-bs-selected {
    color: rgb(29, 161, 242);
    text-decoration: underline;
    text-underline-offset: 12px;
    text-decoration-thickness: 3px;
}

.wd-settings-icon-dark-mode {
    color: white;
}

.wd-bottom-padding {
    padding-bottom: 12px;
}

.wd-text-padding {
    padding-left:26px;
}

.wd-grid-row {
    clear: both;
}

.wd-grid-col-one-fourth-page {
    width: 11%;
    float: left;
}

.wd-author-handle {
    float:left;
    padding-right: 3px;
    padding-top: 8px;
    font-size: 15px;
}

.wd-ellipsis-icon {
    float: right;
    padding-right: 10px;
    color: rgb(110, 118, 125);
}

.border-thin {
    border-width: 1px;
    border-radius: 25px;
}

.border-grey { border-color: rgb(47, 51, 54); }

.border-solid { border-style: solid; }

.wd-post-image {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.wd-user-handle {
    color: rgb(110, 118, 125);
}

.wd-post-summary-list-font-size {
    font-size:10px;
}