.wd-margin-top-one {
    margin-top: -10px;
}

.wd-fifth-container {
    padding-top: 2%;
    margin-bottom: 1%;
    padding-left: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.wd-content-title {
    position: relative;
    width: 96%;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    border-radius: 0px 0px 30px 30px;
    margin-left: 12%;
}

hr {
    width: 90%;
    color: white;
    margin-left: 10%;
}